/**MODULE**/
/*Variable, mixins, functions, placeholder*/
/*UTILS*/
/*GRID*/
/*TYPOGRAPHY*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,400,700");
.col-xxsm-1,
.col-xsm-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xlg-1, .col-xxsm-2,
.col-xsm-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xlg-2, .col-xxsm-3,
.col-xsm-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xlg-3, .col-xxsm-4,
.col-xsm-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xlg-4, .col-xxsm-5,
.col-xsm-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xlg-5, .col-xxsm-6,
.col-xsm-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xlg-6, .col-xxsm-7,
.col-xsm-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xlg-7, .col-xxsm-8,
.col-xsm-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xlg-8, .col-xxsm-9,
.col-xsm-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xlg-9, .col-xxsm-10,
.col-xsm-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xlg-10, .col-xxsm-11,
.col-xsm-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xlg-11, .col-xxsm-12,
.col-xsm-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xlg-12 {
  float: left;
  position: relative;
  padding: 0 15px;
  min-height: 1px;
}

/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, small, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Grid*/
* {
  box-sizing: border-box;
}

/*GRID*/
.fluid-container {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
  background: red;
  padding: 0 15px;
}

.row {
  width: 100%;
}

/*GRID*/
.col-1 {
  width: 16.66%;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.664%;
}

.col-5 {
  width: 83.33%;
}

.col-6 {
  width: 100%;
}

.offset-reset {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 16.66%;
}

.col-offset-2 {
  margin-left: 33.33%;
}

.col-offset-3 {
  margin-left: 50%;
}

.col-offset-4 {
  margin-left: 66.664%;
}

.col-offset-5 {
  margin-left: 83.33%;
}

/*BREAKPOINT*/
@media screen and (min-width: 320px) {
  .col-xxsm-1 {
    width: 16.66%;
  }
  .col-xxsm-2 {
    width: 33.33%;
  }
  .col-xxsm-3 {
    width: 50%;
  }
  .col-xxsm-4 {
    width: 66.664%;
  }
  .col-xxsm-5 {
    width: 83.33%;
  }
  .col-xxsm-6 {
    width: 100%;
  }
  .offset-xxsm-reset {
    margin-left: 0;
  }
  .col-xxsm-offset-1 {
    margin-left: 16.66%;
  }
  .col-xxsm-offset-2 {
    margin-left: 33.33%;
  }
  .col-xxsm-offset-3 {
    margin-left: 50%;
  }
  .col-xxsm-offset-4 {
    margin-left: 66.664%;
  }
  .col-xxsm-offset-5 {
    margin-left: 83.33%;
  }
  .col-xxsm-offset-6 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 640px) {
  .col-xsm-1 {
    width: 16.66%;
  }
  .col-xsm-2 {
    width: 33.33%;
  }
  .col-xsm-3 {
    width: 50%;
  }
  .col-xsm-4 {
    width: 66.664%;
  }
  .col-xsm-5 {
    width: 83.33%;
  }
  .col-xsm-6 {
    width: 100%;
  }
  .offset-xsm-reset {
    margin-left: 0;
  }
  .col-xsm-offset-1 {
    margin-left: 16.66%;
  }
  .col-xsm-offset-2 {
    margin-left: 33.33%;
  }
  .col-xsm-offset-3 {
    margin-left: 50%;
  }
  .col-xsm-offset-4 {
    margin-left: 66.664%;
  }
  .col-xsm-offset-5 {
    margin-left: 83.33%;
  }
  .col-xsm-offset-6 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 16.66%;
  }
  .col-sm-2 {
    width: 33.33%;
  }
  .col-sm-3 {
    width: 50%;
  }
  .col-sm-4 {
    width: 66.664%;
  }
  .col-sm-5 {
    width: 83.33%;
  }
  .col-sm-6 {
    width: 100%;
  }
  .offset-sm-reset {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 16.66%;
  }
  .col-sm-offset-2 {
    margin-left: 33.33%;
  }
  .col-sm-offset-3 {
    margin-left: 50%;
  }
  .col-sm-offset-4 {
    margin-left: 66.664%;
  }
  .col-sm-offset-5 {
    margin-left: 83.33%;
  }
  .col-sm-offset-6 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 16.66%;
  }
  .col-md-2 {
    width: 33.33%;
  }
  .col-md-3 {
    width: 50%;
  }
  .col-md-4 {
    width: 66.664%;
  }
  .col-md-5 {
    width: 83.33%;
  }
  .col-md-6 {
    width: 100%;
  }
  .offset-md-reset {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 16.66%;
  }
  .col-md-offset-2 {
    margin-left: 33.33%;
  }
  .col-md-offset-3 {
    margin-left: 50%;
  }
  .col-md-offset-4 {
    margin-left: 66.664%;
  }
  .col-md-offset-5 {
    margin-left: 83.33%;
  }
  .col-md-offset-6 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 16.66%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 50%;
  }
  .col-lg-4 {
    width: 66.664%;
  }
  .col-lg-5 {
    width: 83.33%;
  }
  .col-lg-6 {
    width: 100%;
  }
  .offset-lg-reset {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 16.66%;
  }
  .col-lg-offset-2 {
    margin-left: 33.33%;
  }
  .col-lg-offset-3 {
    margin-left: 50%;
  }
  .col-lg-offset-4 {
    margin-left: 66.664%;
  }
  .col-lg-offset-5 {
    margin-left: 83.33%;
  }
  .col-lg-offset-6 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .col-xlg-1 {
    width: 16.66%;
  }
  .col-xlg-2 {
    width: 33.33%;
  }
  .col-xlg-3 {
    width: 50%;
  }
  .col-xlg-4 {
    width: 66.664%;
  }
  .col-xlg-5 {
    width: 83.33%;
  }
  .col-xlg-6 {
    width: 100%;
  }
  .offset-xlg-reset {
    margin-left: 0;
  }
  .col-xlg-offset-1 {
    margin-left: 16.66%;
  }
  .col-xlg-offset-2 {
    margin-left: 33.33%;
  }
  .col-xlg-offset-3 {
    margin-left: 50%;
  }
  .col-xlg-offset-4 {
    margin-left: 66.664%;
  }
  .col-xlg-offset-5 {
    margin-left: 83.33%;
  }
  .col-xlg-offset-6 {
    margin-left: 100%;
  }
}

/*Typography*/
body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.45;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6, small {
  font-size: 14px;
}

.font-bold, strong {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

.font-black {
  font-weight: black;
}

.font-light {
  font-weight: 300;
}

.font-italic {
  font-style: italic;
}

.font-normal {
  font-style: normal;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  whitespace: nowrap;
}

.text-muted {
  color: #ecf0f1;
}

.text-success {
  color: #2ecc71;
}

.text-warning {
  color: #e67e22;
}

.text-danger {
  color: #e74c3c;
}

.text-info {
  color: #3498db;
}

/*Utilities*/
/*HELPERS*/
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.center {
  display: block;
  margin: 0 auto;
}

.clearfix::before, .row::before, .clearfix::after, .row::after {
  content: '';
  display: table;
}

.clearfix::after, .row::after {
  clear: both;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.visible {
  visiblity: visible;
}

.show-xsm-block,
.show-xsm-inline-block,
.show-xsm-inline,
.show-sm-block,
.show-sm-inline-block,
.show-sm-inline,
.show-md-block,
.show-md-inline-block,
.show-md-inline,
.show-lg-block,
.show-lg-inline-block,
.show-lg-inline,
.show-xlg-block,
.show-xlg-inline-block,
.show-xlg-inline,
.hidden-xxsm-block,
.hidden-xxsm-inline-block,
.hidden-xxsm-inline {
  display: none;
}

.show-xxsm-block,
.hidden-xsm-block,
.hidden-sm-block,
.hidden-md-block,
.hidden-lg-block,
.hidden-xlg-block {
  display: block;
}

.show-xxsm-inline-block,
.hidden-xsm-inline-block,
.hidden-sm-inline-block,
.hidden-md-inline-block,
.hidden-lg-inline-block,
.hidden-xlg-inline-block {
  display: inline-block;
}

.show-xxsm-inline,
.hidden-xsm-inline,
.hidden-sm-inline,
.hidden-md-inline,
.hidden-lg-inline,
.hidden-xlg-inline {
  display: inline;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
}

/*Media Queries*/
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .colxsm-1 {
    width: 8.33333%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-1 {
    left: 8.33333%;
  }
  .colxsm-offset-1 {
    margin-left: 8.33333%;
  }
  .colxsm-pull-1 {
    left: 8.33333%;
  }
  .colxsm-2 {
    width: 16.66667%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-2 {
    left: 16.66667%;
  }
  .colxsm-offset-2 {
    margin-left: 16.66667%;
  }
  .colxsm-pull-2 {
    left: 16.66667%;
  }
  .colxsm-3 {
    width: 25%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-3 {
    left: 25%;
  }
  .colxsm-offset-3 {
    margin-left: 25%;
  }
  .colxsm-pull-3 {
    left: 25%;
  }
  .colxsm-4 {
    width: 33.33333%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-4 {
    left: 33.33333%;
  }
  .colxsm-offset-4 {
    margin-left: 33.33333%;
  }
  .colxsm-pull-4 {
    left: 33.33333%;
  }
  .colxsm-5 {
    width: 41.66667%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-5 {
    left: 41.66667%;
  }
  .colxsm-offset-5 {
    margin-left: 41.66667%;
  }
  .colxsm-pull-5 {
    left: 41.66667%;
  }
  .colxsm-6 {
    width: 50%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-6 {
    left: 50%;
  }
  .colxsm-offset-6 {
    margin-left: 50%;
  }
  .colxsm-pull-6 {
    left: 50%;
  }
  .colxsm-7 {
    width: 58.33333%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-7 {
    left: 58.33333%;
  }
  .colxsm-offset-7 {
    margin-left: 58.33333%;
  }
  .colxsm-pull-7 {
    left: 58.33333%;
  }
  .colxsm-8 {
    width: 66.66667%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-8 {
    left: 66.66667%;
  }
  .colxsm-offset-8 {
    margin-left: 66.66667%;
  }
  .colxsm-pull-8 {
    left: 66.66667%;
  }
  .colxsm-9 {
    width: 75%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-9 {
    left: 75%;
  }
  .colxsm-offset-9 {
    margin-left: 75%;
  }
  .colxsm-pull-9 {
    left: 75%;
  }
  .colxsm-10 {
    width: 83.33333%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-10 {
    left: 83.33333%;
  }
  .colxsm-offset-10 {
    margin-left: 83.33333%;
  }
  .colxsm-pull-10 {
    left: 83.33333%;
  }
  .colxsm-11 {
    width: 91.66667%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-11 {
    left: 91.66667%;
  }
  .colxsm-offset-11 {
    margin-left: 91.66667%;
  }
  .colxsm-pull-11 {
    left: 91.66667%;
  }
  .colxsm-12 {
    width: 100%;
  }
  .colxsm-center {
    margin: 0 auto;
    float: none;
  }
  .colxsm-push-12 {
    left: 100%;
  }
  .colxsm-offset-12 {
    margin-left: 100%;
  }
  .colxsm-pull-12 {
    left: 100%;
  }
  .show-xxsm-block,
  .show-xxsm-inline-block,
  .show-xxsm-inline,
  .hidden-xsm-block,
  .hidden-xsm-inline-block,
  .hidden-xsm-inline {
    display: none;
  }
  .show-xsm-block,
  .hidden-xxsm-block {
    display: block;
  }
  .show-xsm-inline-block,
  .hidden-xxsm-inline-block {
    display: inline-block;
  }
  .show-xsm-inline,
  .hidden-xxsm-inline {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .colsm-1 {
    width: 8.33333%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-1 {
    left: 8.33333%;
  }
  .colsm-offset-1 {
    margin-left: 8.33333%;
  }
  .colsm-pull-1 {
    left: 8.33333%;
  }
  .colsm-2 {
    width: 16.66667%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-2 {
    left: 16.66667%;
  }
  .colsm-offset-2 {
    margin-left: 16.66667%;
  }
  .colsm-pull-2 {
    left: 16.66667%;
  }
  .colsm-3 {
    width: 25%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-3 {
    left: 25%;
  }
  .colsm-offset-3 {
    margin-left: 25%;
  }
  .colsm-pull-3 {
    left: 25%;
  }
  .colsm-4 {
    width: 33.33333%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-4 {
    left: 33.33333%;
  }
  .colsm-offset-4 {
    margin-left: 33.33333%;
  }
  .colsm-pull-4 {
    left: 33.33333%;
  }
  .colsm-5 {
    width: 41.66667%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-5 {
    left: 41.66667%;
  }
  .colsm-offset-5 {
    margin-left: 41.66667%;
  }
  .colsm-pull-5 {
    left: 41.66667%;
  }
  .colsm-6 {
    width: 50%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-6 {
    left: 50%;
  }
  .colsm-offset-6 {
    margin-left: 50%;
  }
  .colsm-pull-6 {
    left: 50%;
  }
  .colsm-7 {
    width: 58.33333%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-7 {
    left: 58.33333%;
  }
  .colsm-offset-7 {
    margin-left: 58.33333%;
  }
  .colsm-pull-7 {
    left: 58.33333%;
  }
  .colsm-8 {
    width: 66.66667%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-8 {
    left: 66.66667%;
  }
  .colsm-offset-8 {
    margin-left: 66.66667%;
  }
  .colsm-pull-8 {
    left: 66.66667%;
  }
  .colsm-9 {
    width: 75%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-9 {
    left: 75%;
  }
  .colsm-offset-9 {
    margin-left: 75%;
  }
  .colsm-pull-9 {
    left: 75%;
  }
  .colsm-10 {
    width: 83.33333%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-10 {
    left: 83.33333%;
  }
  .colsm-offset-10 {
    margin-left: 83.33333%;
  }
  .colsm-pull-10 {
    left: 83.33333%;
  }
  .colsm-11 {
    width: 91.66667%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-11 {
    left: 91.66667%;
  }
  .colsm-offset-11 {
    margin-left: 91.66667%;
  }
  .colsm-pull-11 {
    left: 91.66667%;
  }
  .colsm-12 {
    width: 100%;
  }
  .colsm-center {
    margin: 0 auto;
    float: none;
  }
  .colsm-push-12 {
    left: 100%;
  }
  .colsm-offset-12 {
    margin-left: 100%;
  }
  .colsm-pull-12 {
    left: 100%;
  }
  .show-xsm-block,
  .show-xsm-inline-block,
  .show-xsm-inline,
  .hidden-sm-block,
  .hidden-sm-inline-block,
  .hidden-sm-inline {
    display: none;
  }
  .show-sm-block,
  .hidden-xsm-block {
    display: block;
  }
  .show-sm-inline-block,
  .hidden-xsm-inline-block {
    display: inline-block;
  }
  .show-sm-inline,
  .hidden-xsm-inline {
    display: inline;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .colmd-1 {
    width: 8.33333%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-1 {
    left: 8.33333%;
  }
  .colmd-offset-1 {
    margin-left: 8.33333%;
  }
  .colmd-pull-1 {
    left: 8.33333%;
  }
  .colmd-2 {
    width: 16.66667%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-2 {
    left: 16.66667%;
  }
  .colmd-offset-2 {
    margin-left: 16.66667%;
  }
  .colmd-pull-2 {
    left: 16.66667%;
  }
  .colmd-3 {
    width: 25%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-3 {
    left: 25%;
  }
  .colmd-offset-3 {
    margin-left: 25%;
  }
  .colmd-pull-3 {
    left: 25%;
  }
  .colmd-4 {
    width: 33.33333%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-4 {
    left: 33.33333%;
  }
  .colmd-offset-4 {
    margin-left: 33.33333%;
  }
  .colmd-pull-4 {
    left: 33.33333%;
  }
  .colmd-5 {
    width: 41.66667%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-5 {
    left: 41.66667%;
  }
  .colmd-offset-5 {
    margin-left: 41.66667%;
  }
  .colmd-pull-5 {
    left: 41.66667%;
  }
  .colmd-6 {
    width: 50%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-6 {
    left: 50%;
  }
  .colmd-offset-6 {
    margin-left: 50%;
  }
  .colmd-pull-6 {
    left: 50%;
  }
  .colmd-7 {
    width: 58.33333%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-7 {
    left: 58.33333%;
  }
  .colmd-offset-7 {
    margin-left: 58.33333%;
  }
  .colmd-pull-7 {
    left: 58.33333%;
  }
  .colmd-8 {
    width: 66.66667%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-8 {
    left: 66.66667%;
  }
  .colmd-offset-8 {
    margin-left: 66.66667%;
  }
  .colmd-pull-8 {
    left: 66.66667%;
  }
  .colmd-9 {
    width: 75%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-9 {
    left: 75%;
  }
  .colmd-offset-9 {
    margin-left: 75%;
  }
  .colmd-pull-9 {
    left: 75%;
  }
  .colmd-10 {
    width: 83.33333%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-10 {
    left: 83.33333%;
  }
  .colmd-offset-10 {
    margin-left: 83.33333%;
  }
  .colmd-pull-10 {
    left: 83.33333%;
  }
  .colmd-11 {
    width: 91.66667%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-11 {
    left: 91.66667%;
  }
  .colmd-offset-11 {
    margin-left: 91.66667%;
  }
  .colmd-pull-11 {
    left: 91.66667%;
  }
  .colmd-12 {
    width: 100%;
  }
  .colmd-center {
    margin: 0 auto;
    float: none;
  }
  .colmd-push-12 {
    left: 100%;
  }
  .colmd-offset-12 {
    margin-left: 100%;
  }
  .colmd-pull-12 {
    left: 100%;
  }
  .show-sm-block,
  .show-sm-inline-block,
  .show-sm-inline,
  .hidden-md-block,
  .hidden-md-inline-block,
  .hidden-md-inline {
    display: none;
  }
  .show-md-block,
  .hidden-sm-block {
    display: block;
  }
  .show-md-inline-block,
  .hidden-sm-inline-block {
    display: inline-block;
  }
  .show-md-inline,
  .hidden-sm-inline {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .collg-1 {
    width: 8.33333%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-1 {
    left: 8.33333%;
  }
  .collg-offset-1 {
    margin-left: 8.33333%;
  }
  .collg-pull-1 {
    left: 8.33333%;
  }
  .collg-2 {
    width: 16.66667%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-2 {
    left: 16.66667%;
  }
  .collg-offset-2 {
    margin-left: 16.66667%;
  }
  .collg-pull-2 {
    left: 16.66667%;
  }
  .collg-3 {
    width: 25%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-3 {
    left: 25%;
  }
  .collg-offset-3 {
    margin-left: 25%;
  }
  .collg-pull-3 {
    left: 25%;
  }
  .collg-4 {
    width: 33.33333%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-4 {
    left: 33.33333%;
  }
  .collg-offset-4 {
    margin-left: 33.33333%;
  }
  .collg-pull-4 {
    left: 33.33333%;
  }
  .collg-5 {
    width: 41.66667%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-5 {
    left: 41.66667%;
  }
  .collg-offset-5 {
    margin-left: 41.66667%;
  }
  .collg-pull-5 {
    left: 41.66667%;
  }
  .collg-6 {
    width: 50%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-6 {
    left: 50%;
  }
  .collg-offset-6 {
    margin-left: 50%;
  }
  .collg-pull-6 {
    left: 50%;
  }
  .collg-7 {
    width: 58.33333%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-7 {
    left: 58.33333%;
  }
  .collg-offset-7 {
    margin-left: 58.33333%;
  }
  .collg-pull-7 {
    left: 58.33333%;
  }
  .collg-8 {
    width: 66.66667%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-8 {
    left: 66.66667%;
  }
  .collg-offset-8 {
    margin-left: 66.66667%;
  }
  .collg-pull-8 {
    left: 66.66667%;
  }
  .collg-9 {
    width: 75%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-9 {
    left: 75%;
  }
  .collg-offset-9 {
    margin-left: 75%;
  }
  .collg-pull-9 {
    left: 75%;
  }
  .collg-10 {
    width: 83.33333%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-10 {
    left: 83.33333%;
  }
  .collg-offset-10 {
    margin-left: 83.33333%;
  }
  .collg-pull-10 {
    left: 83.33333%;
  }
  .collg-11 {
    width: 91.66667%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-11 {
    left: 91.66667%;
  }
  .collg-offset-11 {
    margin-left: 91.66667%;
  }
  .collg-pull-11 {
    left: 91.66667%;
  }
  .collg-12 {
    width: 100%;
  }
  .collg-center {
    margin: 0 auto;
    float: none;
  }
  .collg-push-12 {
    left: 100%;
  }
  .collg-offset-12 {
    margin-left: 100%;
  }
  .collg-pull-12 {
    left: 100%;
  }
  .show-md-block,
  .show-md-inline-block,
  .show-md-inline,
  .hidden-lg-block,
  .hidden-lg-inline-block,
  .hidden-lg-inline {
    display: none;
  }
  .show-lg-block,
  .hidden-md-block {
    display: block;
  }
  .show-lg-inline-block,
  .hidden-md-inline-block {
    display: inline-block;
  }
  .show-lg-inline,
  .hidden-md-inline {
    display: inline;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
  .colxlg-1 {
    width: 8.33333%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-1 {
    left: 8.33333%;
  }
  .colxlg-offset-1 {
    margin-left: 8.33333%;
  }
  .colxlg-pull-1 {
    left: 8.33333%;
  }
  .colxlg-2 {
    width: 16.66667%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-2 {
    left: 16.66667%;
  }
  .colxlg-offset-2 {
    margin-left: 16.66667%;
  }
  .colxlg-pull-2 {
    left: 16.66667%;
  }
  .colxlg-3 {
    width: 25%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-3 {
    left: 25%;
  }
  .colxlg-offset-3 {
    margin-left: 25%;
  }
  .colxlg-pull-3 {
    left: 25%;
  }
  .colxlg-4 {
    width: 33.33333%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-4 {
    left: 33.33333%;
  }
  .colxlg-offset-4 {
    margin-left: 33.33333%;
  }
  .colxlg-pull-4 {
    left: 33.33333%;
  }
  .colxlg-5 {
    width: 41.66667%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-5 {
    left: 41.66667%;
  }
  .colxlg-offset-5 {
    margin-left: 41.66667%;
  }
  .colxlg-pull-5 {
    left: 41.66667%;
  }
  .colxlg-6 {
    width: 50%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-6 {
    left: 50%;
  }
  .colxlg-offset-6 {
    margin-left: 50%;
  }
  .colxlg-pull-6 {
    left: 50%;
  }
  .colxlg-7 {
    width: 58.33333%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-7 {
    left: 58.33333%;
  }
  .colxlg-offset-7 {
    margin-left: 58.33333%;
  }
  .colxlg-pull-7 {
    left: 58.33333%;
  }
  .colxlg-8 {
    width: 66.66667%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-8 {
    left: 66.66667%;
  }
  .colxlg-offset-8 {
    margin-left: 66.66667%;
  }
  .colxlg-pull-8 {
    left: 66.66667%;
  }
  .colxlg-9 {
    width: 75%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-9 {
    left: 75%;
  }
  .colxlg-offset-9 {
    margin-left: 75%;
  }
  .colxlg-pull-9 {
    left: 75%;
  }
  .colxlg-10 {
    width: 83.33333%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-10 {
    left: 83.33333%;
  }
  .colxlg-offset-10 {
    margin-left: 83.33333%;
  }
  .colxlg-pull-10 {
    left: 83.33333%;
  }
  .colxlg-11 {
    width: 91.66667%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-11 {
    left: 91.66667%;
  }
  .colxlg-offset-11 {
    margin-left: 91.66667%;
  }
  .colxlg-pull-11 {
    left: 91.66667%;
  }
  .colxlg-12 {
    width: 100%;
  }
  .colxlg-center {
    margin: 0 auto;
    float: none;
  }
  .colxlg-push-12 {
    left: 100%;
  }
  .colxlg-offset-12 {
    margin-left: 100%;
  }
  .colxlg-pull-12 {
    left: 100%;
  }
  .show-lg-block,
  .show-lg-inline-block,
  .show-lg-inline,
  .hidden-xlg-block,
  .hidden-xlg-inline-block,
  .hidden-xlg-inline {
    display: none;
  }
  .hidden-lg-block,
  .show-xlg-block {
    display: block;
  }
  .hidden-lg-inline-block,
  .show-xlg-inline-block {
    display: inline-block;
  }
  .hidden-lg-inline,
  .show-xlg-inline {
    display: inline;
  }
}

/**COMPONENTS**/
/*Components*/
/**PLUGINS**/
/**TEMPLATE**/
