/*GRID*/

//16-COLUMNS
.col-1{
	width: 6.25%;
}
.col-2{
	width: 12.5%;
}
.col-3{
	width: 18.75%;
}
.col-4{
	width: 25%;
}
.col-5{
	width: 31.25%;
}
.col-6{
	width: 37.5%;
}
.col-7{
	width: 43.75%;
}
.col-8{
	width: 50%;
}
.col-9{
	width: 56.25%;
}
.col-10{
	width: 62.5%;
}
.col-11{
	width: 68.75%;
}
.col-12{
	width: 75%;
}
.col-13{
	width: 81.25%;
}
.col-14{
	width: 87.5%;
}
.col-15{
	width: 93.75%;
}
.col-16{
	width: 100%;
}

//Offset
.offset-reset{
	margin-left: 0;
}
.col-offset-1{
	margin-left: 6.25%;
}
.col-offset-2{
	margin-left: 12.5%;
}
.col-offset-3{
	margin-left: 18.75%;
}
.col-offset-4{
	margin-left: 25%;
}
.col-offset-5{
	margin-left: 31.25%;
}
.col-offset-6{
	margin-left: 37.5%;
}
.col-offset-7{
	margin-left: 43.75%;
}
.col-offset-8{
	margin-left: 50%;
}
.col-offset-9{
	margin-left: 56.25%;
}
.col-offset-10{
	margin-left: 62.5%;
}
.col-offset-11{
	margin-left: 68.75%;
}
.col-offset-12{
	margin-left: 75%;
}
.col-offset-13{
	margin-left: 81.25%;
}
.col-offset-14{
	margin-left: 87.5%;
}
.col-offset-15{
	margin-left: 93.75%;
}


/*BREAKPOINT*/
//320px xxsm
@media screen and min-width: $mobile-small){
	.col-xxsm-1{
		width: 6.25%;
	}
	.col-xxsm-2{
		width: 12.5%;
	}
	.col-xxsm-3{
		width: 18.75%;
	}
	.col-xxsm-4{
		width: 25%;
	}
	.col-xxsm-5{
		width: 31.25%;
	}
	.col-xxsm-6{
		width: 37.5%;
	}
	.col-xxsm-7{
		width: 43.75%;
	}
	.col-xxsm-8{
		width: 50%;
	}
	.col-xxsm-9{
		width: 56.25%;
	}
	.col-xxsm-10{
		width: 62.5%;
	}
	.col-xxsm-11{
		width: 68.75%;
	}
	.col-xxsm-12{
		width: 75%;
	}
	.col-xxsm-13{
		width: 81.25%;
	}
	.col-xxsm-14{
		width: 87.5%;
	}
	.col-xxsm-15{
		width: 93.75%;
	}
	.col-xxsm-16{
		width: 100%;
	}

	//Offset
	.offset-xxsm-reset{
		margin-left: 0;
	}
	.col-xxsm-offset-1{
		margin-left: 6.25%;
	}
	.col-xxsm-offset-2{
		margin-left: 12.5%;
	}
	.col-xxsm-offset-3{
		margin-left: 18.75%;
	}
	.col-xxsm-offset-4{
		margin-left: 25%;
	}
	.col-xxsm-offset-5{
		margin-left: 31.25%;
	}
	.col-xxsm-offset-6{
		margin-left: 37.5%;
	}
	.col-xxsm-offset-7{
		margin-left: 43.75%;
	}
	.col-xxsm-offset-8{
		margin-left: 50%;
	}
	.col-xxsm-offset-9{
		margin-left: 56.25%;
	}
	.col-xxsm-offset-10{
		margin-left: 62.5%;
	}
	.col-xxsm-offset-11{
		margin-left: 68.75%;
	}
	.col-xxsm-offset-12{
		margin-left: 75%;
	}
	.col-xxsm-offset-13{
		margin-left: 81.25%;
	}
	.col-xxsm-offset-14{
		margin-left: 87.5%;
	}
	.col-xxsm-offset-15{
		margin-left: 93.75%;
	}

}

//640px xsm
@media screen and (min-width: $tablet-small){
	.col-xsm-1{
		width: 6.25%;
	}
	.col-xsm-2{
		width: 12.5%;
	}
	.col-xsm-3{
		width: 18.75%;
	}
	.col-xsm-4{
		width: 25%;
	}
	.col-xsm-5{
		width: 31.25%;
	}
	.col-xsm-6{
		width: 37.5%;
	}
	.col-xsm-7{
		width: 43.75%;
	}
	.col-xsm-8{
		width: 50%;
	}
	.col-xsm-9{
		width: 56.25%;
	}
	.col-xsm-10{
		width: 62.5%;
	}
	.col-xsm-11{
		width: 68.75%;
	}
	.col-xsm-12{
		width: 75%;
	}
	.col-xsm-13{
		width: 81.25%;
	}
	.col-xsm-14{
		width: 87.5%;
	}
	.col-xsm-15{
		width: 93.75%;
	}
	.col-xsm-16{
		width: 100%;
	}

	//Offset
	.offset-xsm-reset{
		margin-left: 0;
	}
	.col-xsm-offset-1{
		margin-left: 6.25%;
	}
	.col-xsm-offset-2{
		margin-left: 12.5%;
	}
	.col-xsm-offset-3{
		margin-left: 18.75%;
	}
	.col-xsm-offset-4{
		margin-left: 25%;
	}
	.col-xsm-offset-5{
		margin-left: 31.25%;
	}
	.col-xsm-offset-6{
		margin-left: 37.5%;
	}
	.col-xsm-offset-7{
		margin-left: 43.75%;
	}
	.col-xsm-offset-8{
		margin-left: 50%;
	}
	.col-xsm-offset-9{
		margin-left: 56.25%;
	}
	.col-xsm-offset-10{
		margin-left: 62.5%;
	}
	.col-xsm-offset-11{
		margin-left: 68.75%;
	}
	.col-xsm-offset-12{
		margin-left: 75%;
	}
	.col-xsm-offset-13{
		margin-left: 81.25%;
	}
	.col-xsm-offset-14{
		margin-left: 87.5%;
	}
	.col-xsm-offset-15{
		margin-left: 93.75%;
	}

}

//768px sm
@media screen and (min-width: $tablet-medium){
	.col-sm-1{
		width: 6.25%;
	}
	.col-sm-2{
		width: 12.5%;
	}
	.col-sm-3{
		width: 18.75%;
	}
	.col-sm-4{
		width: 25%;
	}
	.col-sm-5{
		width: 31.25%;
	}
	.col-sm-6{
		width: 37.5%;
	}
	.col-sm-7{
		width: 43.75%;
	}
	.col-sm-8{
		width: 50%;
	}
	.col-sm-9{
		width: 56.25%;
	}
	.col-sm-10{
		width: 62.5%;
	}
	.col-sm-11{
		width: 68.75%;
	}
	.col-sm-12{
		width: 75%;
	}
	.col-sm-13{
		width: 81.25%;
	}
	.col-sm-14{
		width: 87.5%;
	}
	.col-sm-15{
		width: 93.75%;
	}
	.col-sm-16{
		width: 100%;
	}

	//Offset
	.offset-sm-reset{
		margin-left: 0;
	}
	.col-sm-offset-1{
		margin-left: 6.25%;
	}
	.col-sm-offset-2{
		margin-left: 12.5%;
	}
	.col-sm-offset-3{
		margin-left: 18.75%;
	}
	.col-sm-offset-4{
		margin-left: 25%;
	}
	.col-sm-offset-5{
		margin-left: 31.25%;
	}
	.col-sm-offset-6{
		margin-left: 37.5%;
	}
	.col-sm-offset-7{
		margin-left: 43.75%;
	}
	.col-sm-offset-8{
		margin-left: 50%;
	}
	.col-sm-offset-9{
		margin-left: 56.25%;
	}
	.col-sm-offset-10{
		margin-left: 62.5%;
	}
	.col-sm-offset-11{
		margin-left: 68.75%;
	}
	.col-sm-offset-12{
		margin-left: 75%;
	}
	.col-sm-offset-13{
		margin-left: 81.25%;
	}
	.col-sm-offset-14{
		margin-left: 87.5%;
	}
	.col-sm-offset-15{
		margin-left: 93.75%;
	}

}

//992px md
@media screen and (min-width: $tablet-large){
	.col-md-1{
		width: 6.25%;
	}
	.col-md-2{
		width: 12.5%;
	}
	.col-md-3{
		width: 18.75%;
	}
	.col-md-4{
		width: 25%;
	}
	.col-md-5{
		width: 31.25%;
	}
	.col-md-6{
		width: 37.5%;
	}
	.col-md-7{
		width: 43.75%;
	}
	.col-md-8{
		width: 50%;
	}
	.col-md-9{
		width: 56.25%;
	}
	.col-md-10{
		width: 62.5%;
	}
	.col-md-11{
		width: 68.75%;
	}
	.col-md-12{
		width: 75%;
	}
	.col-md-13{
		width: 81.25%;
	}
	.col-md-14{
		width: 87.5%;
	}
	.col-md-15{
		width: 93.75%;
	}
	.col-md-16{
		width: 100%;
	}

	//Offset
	.offset-md-reset{
		margin-left: 0;
	}
	.col-md-offset-1{
		margin-left: 6.25%;
	}
	.col-md-offset-2{
		margin-left: 12.5%;
	}
	.col-md-offset-3{
		margin-left: 18.75%;
	}
	.col-md-offset-4{
		margin-left: 25%;
	}
	.col-md-offset-5{
		margin-left: 31.25%;
	}
	.col-md-offset-6{
		margin-left: 37.5%;
	}
	.col-md-offset-7{
		margin-left: 43.75%;
	}
	.col-md-offset-8{
		margin-left: 50%;
	}
	.col-md-offset-9{
		margin-left: 56.25%;
	}
	.col-md-offset-10{
		margin-left: 62.5%;
	}
	.col-md-offset-11{
		margin-left: 68.75%;
	}
	.col-md-offset-12{
		margin-left: 75%;
	}
	.col-md-offset-13{
		margin-left: 81.25%;
	}
	.col-md-offset-14{
		margin-left: 87.5%;
	}
	.col-md-offset-15{
		margin-left: 93.75%;
	}

}
 
//1200px lg
@media screen and (min-width: $screen-large){
	.col-lg-1{
		width: 6.25%;
	}
	.col-lg-2{
		width: 12.5%;
	}
	.col-lg-3{
		width: 18.75%;
	}
	.col-lg-4{
		width: 25%;
	}
	.col-lg-5{
		width: 31.25%;
	}
	.col-lg-6{
		width: 37.5%;
	}
	.col-lg-7{
		width: 43.75%;
	}
	.col-lg-8{
		width: 50%;
	}
	.col-lg-9{
		width: 56.25%;
	}
	.col-lg-10{
		width: 62.5%;
	}
	.col-lg-11{
		width: 68.75%;
	}
	.col-lg-12{
		width: 75%;
	}
	.col-lg-13{
		width: 81.25%;
	}
	.col-lg-14{
		width: 87.5%;
	}
	.col-lg-15{
		width: 93.75%;
	}
	.col-lg-16{
		width: 100%;
	}

	//Offset
	.offset-lg-reset{
		margin-left: 0;
	}
	.col-lg-offset-1{
		margin-left: 6.25%;
	}
	.col-lg-offset-2{
		margin-left: 12.5%;
	}
	.col-lg-offset-3{
		margin-left: 18.75%;
	}
	.col-lg-offset-4{
		margin-left: 25%;
	}
	.col-lg-offset-5{
		margin-left: 31.25%;
	}
	.col-lg-offset-6{
		margin-left: 37.5%;
	}
	.col-lg-offset-7{
		margin-left: 43.75%;
	}
	.col-lg-offset-8{
		margin-left: 50%;
	}
	.col-lg-offset-9{
		margin-left: 56.25%;
	}
	.col-lg-offset-10{
		margin-left: 62.5%;
	}
	.col-lg-offset-11{
		margin-left: 68.75%;
	}
	.col-lg-offset-12{
		margin-left: 75%;
	}
	.col-lg-offset-13{
		margin-left: 81.25%;
	}
	.col-lg-offset-14{
		margin-left: 87.5%;
	}
	.col-lg-offset-15{
		margin-left: 93.75%;
	}

}

//1920px xlg
@media screen and (min-width: $desktop-large){
	.col-xlg-1{
		width: 6.25%;
	}
	.col-xlg-2{
		width: 12.5%;
	}
	.col-xlg-3{
		width: 18.75%;
	}
	.col-xlg-4{
		width: 25%;
	}
	.col-xlg-5{
		width: 31.25%;
	}
	.col-xlg-6{
		width: 37.5%;
	}
	.col-xlg-7{
		width: 43.75%;
	}
	.col-xlg-8{
		width: 50%;
	}
	.col-xlg-9{
		width: 56.25%;
	}
	.col-xlg-10{
		width: 62.5%;
	}
	.col-xlg-11{
		width: 68.75%;
	}
	.col-xlg-12{
		width: 75%;
	}
	.col-xlg-13{
		width: 81.25%;
	}
	.col-xlg-14{
		width: 87.5%;
	}
	.col-xlg-15{
		width: 93.75%;
	}
	.col-xlg-16{
		width: 100%;
	}

	//Offset
	.offset-xlg-reset{
		margin-left: 0;
	}
	.col-xlg-offset-1{
		margin-left: 6.25%;
	}
	.col-xlg-offset-2{
		margin-left: 12.5%;
	}
	.col-xlg-offset-3{
		margin-left: 18.75%;
	}
	.col-xlg-offset-4{
		margin-left: 25%;
	}
	.col-xlg-offset-5{
		margin-left: 31.25%;
	}
	.col-xlg-offset-6{
		margin-left: 37.5%;
	}
	.col-xlg-offset-7{
		margin-left: 43.75%;
	}
	.col-xlg-offset-8{
		margin-left: 50%;
	}
	.col-xlg-offset-9{
		margin-left: 56.25%;
	}
	.col-xlg-offset-10{
		margin-left: 62.5%;
	}
	.col-xlg-offset-11{
		margin-left: 68.75%;
	}
	.col-xlg-offset-12{
		margin-left: 75%;
	}
	.col-xlg-offset-13{
		margin-left: 81.25%;
	}
	.col-xlg-offset-14{
		margin-left: 87.5%;
	}
	.col-xlg-offset-15{
		margin-left: 93.75%;
	}

}	