*{
	box-sizing: border-box;
}

/*GRID*/
//Container
.fluid-container{
	width: 100%;
	max-width: 100%;
	margin: auto;
}

.container{
	width: 100%;
	margin: 0 auto;
	max-width: 320px;
	background: red;
	padding: $gutter;
}

//Row
.row{
	width: 100%;
	@extend .clearfix;
}

//Columns
@for $i from 1 through $columns{
	.col-xxsm-#{$i},
	.col-xsm-#{$i},
	.col-sm-#{$i},
	.col-md-#{$i},
	.col-lg-#{$i},
	.col-xlg-#{$i}{ 
		@extend %col; 
	}
}

//Display classes

